body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('to-do-list.jpg');
    background-image:  linear-gradient(rgba(238, 231, 231, 0.7), rgba(255, 255, 255, 0.3)), url('to-do-list.jpg');
}

#container {
    width: 80%;
    max-width: 960px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px     0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

h1 {
    color: #3c73b7;
    font-size: 3em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;    
}                               
  .todo-container {
    text-align: center;
  }
  h1 {
    margin-bottom: 20px;
  }
  .add-task input[type="text"],
  .add-task input[type="datetime-local"] {
    padding: 5px;
    margin-right: 5px;
  }
  .add-task button {
    padding: 5px 10px;
  }
  .filter-tasks {
    margin-top: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    color:#2b10c0;
  }
  
  .completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .task-actions button {
    margin-left: 10px;
  }
  